.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.filters {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters li {
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.485);
}

.oneFilter {
    display: flex;
}

.oneFilter:hover {
    background-color:rgb(0, 153, 255);
}

.filters li:last-child {
    border-bottom: none;
}

.left {
    margin-right: 20px;
}

.longCard {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.longCard h3 {
    text-align: left;
    flex-grow: 1;
}

.longCard p {
    align-self: flex-end;
}

.longCard img {
    width: 20%;
}

.longCard:hover h3 {
    color: cornflowerblue;
}

.inFilter {
    display: flex;
    justify-content: center;
    gap: 10px;
}
