.filters {
    width: 25%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters ul li {
    margin-bottom: 10px;
}