* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
  
.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.categories {
    margin: 20px 0;
}

a:hover {
    color: #3498db;
}
  