header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}

.pages {
    display: flex;
    margin-left: 20rem;
    gap: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.search {
    padding: 4px;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
  
.search-cart input {
    padding: 5px;
    margin-right: 10px;
}
  
.search-cart button {
    padding: 5px 10px;
}
  
.cart {
    margin-left: 15px;
}

input:focus {
    color: black;
}

@media (max-width: 768px) {
    header {
        align-items: flex-start;
    }

    .searchContainer {
        display: none;
    }

    .links {
        gap: 10px;
    }

    .search-cart {
        display: flex;
        gap: 10px;
    }

    .cart {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .nav a {
        margin: 0;
    }

    .pages {
        display: none;
    }
}